/* Resetear los márgenes y el padding de la página */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

h2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
/* Aplicar márgenes a la caja principal */
main {
    margin: 20px;
}

#targeta{
    border: 30px solid;
    background-color: bisque;
    padding: 20px;
} 
/* Estilo para cada artículo (tarjeta) */
article {
    border: 1px solid #ccc; /* Borde para la tarjeta */
    margin-bottom: 20px; /* Espacio entre tarjetas */
    padding: 10px; /* Relleno interno de la tarjeta */
}

/* Estilo para la imagen dentro de la tarjeta */
article img {
    max-width: 100%; /* Asegura que la imagen no se salga de la tarjeta */
    height: auto; /* Hace que la imagen sea responsive */
}

/* Estilo para el título (h3) dentro de la tarjeta */
article h3 {
    margin-top: 10px; /* Espacio entre la imagen y el título */
}

/* Estilo para el párrafo (p) dentro de la tarjeta */
article p {
    margin-top: 10px; /* Espacio entre el título y el párrafo */
}
